@page "/LS"
@using  Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
<h3>LocalStorage</h3>
<button @onclick="speichern">speichenr</button>
<input @bind="Wert" />
@code {
    public string Wert { get; set; }

    void speichern()
    {
        ProtectedLocalStorage.SetAsync("wert1", Wert);

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var aha = await ProtectedLocalStorage.GetAsync<string>("wert1");
            if (aha.Success)
            {
                Wert = aha.Value;
            }

        }
    }

}
