@page "/ac"
<h3>AufrufComponent</h3>
<MyComponent @ref="hannes"></MyComponent>
<input @bind="wert" />style="color:red"
<p @onchange="change">sdfd</p>
@wert
@rf

@code {
    RenderFragment rf=@:<div>Test</div>
    MyComponent hannes;
    public int wert { get; set; }
    void change()
    {
       
    }
}
