@page "/modal" 
<h3>UseModal</h3>
<PpedvModalDialog @ref="modal1" Titel="mein toller Dialog" OnSave="Methode">
    <input />
    <p> Text</p>
    <button></button>
    
</PpedvModalDialog>
<RazorClassLibrary1.Component1></RazorClassLibrary1.Component1>


<button @onclick="Show">öffne</button>
@code {

    PpedvModalDialog modal1;
    void Show()
    {
        modal1.Show();

    }
    void Methode()
    {

    }
}
